/* Header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
header{
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:space-between;
    align-items: center;
}
header a{
    color:white;
    text-decoration:none;
    transition: 0.3s;
}
header a:hover{
    color:orange;
    transition: 0.3s;
}
h2{
    text-align:center;
}
header > h1{
    width:40%;
    text-align:center;
}
nav{
    display:flex;
    gap:60px;
    padding:0 50px;
}

#toggleView {
    margin-bottom: 10px;
}

/* Secciones tipo tarjetas */
section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

/* Index */

.save-task{
    display: flex;
    gap: 20px;
    vertical-align: middle;
    align-items: center;
    justify-content:center;
}
#form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

#field {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea.form-control {
    resize: vertical;
}

#btnSave {
    background-color: #222;
    color: white;
}

.iImportant {
    color: orange;
}


#selDueDate {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#button-container {
    text-align: center;
}

#pending-task{
    max-height: 400px;
    overflow-y: scroll;
}
#pending-task::-webkit-scrollbar {
    width: 7px;
}

.task{
    background:lightgray;
    padding:10px;
    border-radius:10px;
    margin-bottom:20px;
    margin-right:5px;
}
#pending-task::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: lightgray;
}
@media(min-width:768px){
    .header-nav{
        display:block;
        display:flex;
    }
    .navbar{
        display:none;
    }
}
@media(max-width:768px){
    header h1,
    .header-nav{
        display:none;
    }
    .navbar{
        display:block;
        width:100%;
        background-color: #333!important;
    }
    .navbar-brand{
        color:white;
    }
    nav a{
        color:white;
    }
    .nav-item{
        padding:10px 20px;
        text-align:left;
    }
    button.navbar-toggler{
        border:1px solid white;
    }
}